{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "linaria": {
      "presets": ["@linaria/babel-preset"]
    },
    "emotion": {
      "presets": ["@emotion/babel-preset-css-prop"]
    }
  }
}
